// /*------barra de navegacion-------*/

.container-fluid{
    flex-direction: column;
    background-color:rgba(167, 167, 167, 0.062);
    box-shadow: 3px 3px 3px 3px #0d6dfd2a;
    
}
.navbar navbar-expand-lg bg-body-tertiary{
    background-color: rgb(184, 41, 41);
    
}