.formulario{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    margin: 10px;
    padding: 20px;
}



//------pie de pagina--------//

.pie-pagina {

    .pie-pagina-principal {

        background-color: rgba(0, 0, 0, 0.356);
        align-items: center;
        display: grid;
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pie-pagina-principal h1 {

        font-family: 'Times New Roman', Times, serif;
    }

}