.galeria-de-fotos .fotos {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 676px;
    grid-auto-rows: 25% 25% 25% 25%;
    height: 800px;

}

//------pie de pagina--------//

.pie-pagina {

    .pie-pagina-principal {

        background-color: rgba(0, 0, 0, 0.356);
        align-items: center;
        display: grid;
        margin: 5px;
        font-family: Arial, Helvetica, sans-serif;
    }

    .pie-pagina-principal h1 {

        font-family: 'Times New Roman', Times, serif;
    }

}